# rename this file to .env and fill in applicable values
# initialization of exchanges is not dynamic
# if some exchanges are not being used main.go will need to be modified

# connection to mongo database
# that will keep record of transactions and prices
HOST=127.0.0.1:27017
DATABASE=db_name
USERNAME=db_username
PASSWORD=db_password

# script will occasionally deposit profit coins to a safe address
# to avoid holding the entire balance on exchanges
TREZOR_ETH=eth_address

# configuration of exchanges
BINANCE_URL=https://api.binance.com
BINANCE_KEY=
BINANCE_SECRET=

KUCOIN_URL=https://api.kucoin.com
KUCOIN_KEY=
KUCOIN_SECRET=